.product-list {
  max-width: 1800px;
  margin: 15px;
  margin-left: 200px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.product-item {
  width: 80%;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  /* padding: 2px; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
}

.product-item:hover {
  transform: translateY(-10px);
  transform: scale(1.2);
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.3s ease;
  
}

.product-img:hover {
  transform: scale(1.2);

}

.product-name-link {
  text-decoration: none;
  color: #222;
  margin-top: 12px;
  text-align: center;
  min-height: 48px;
}

.product-name {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 1.4;
}

.product-price {
  color: #80001C;
  font-weight: 600;
  margin: 12px 0 8px;
  text-align: center;
}

.add-cart-btn {
  border: 1px solid #80001C;
  background-color: white;
  color: #80001C;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.add-cart-btn:hover {
  background-color: #80001C;
  color: white;
}

.pagination {
  margin-bottom: 10px;;
  text-align: center;
  margin-top: 20px;
  margin-left: 700px; 
}

.pagination button {
  border: 1px solid #80001C;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 3px;
  font-family: inherit;
  background-color: white;
  color: #80001C;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pagination button:hover {
  background-color: #80001C;
  color: white;
}
/*  */
.pagination button:disabled {
  background-color: #f0f0f0;
  color: #aaa;
  cursor: not-allowed;
  border-color: #ccc;
}

.pagination .active-page {
  background-color: #80001C;
  color: white;
  font-weight: bold;
}
